.research {
    padding: 1rem 2rem;
    background-color: #f1f5f9
}
.research h1 {
    padding:  0 0 1.2rem 0;
}
.research h4 {
    padding:  1.5rem 0 1.2rem 0;
}
.researchContent {
background-color: #f9fafb;
padding: 1rem;
}